<?xml version="1.0" encoding="utf-8"?>

<!-- 
Copyright (c) 2011 Scott Truger
See the file COPYING.txt for copying permissions
 -->
 
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.trugertech.quickbart" android:versionCode="7" android:versionName="2.1.1">
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
<uses-sdk android:minSdkVersion="7"></uses-sdk>


    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        
        <activity android:name="ActivityTabMain" android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>
        <activity android:label="@string/app_name" android:name="ActivityQuickBart"></activity>
        <activity android:name="ActivityMap"></activity>
        <activity android:name="ActivityFavoriteEdit"></activity>
        <activity android:name="ActivityFavoriteSchedule"></activity>
        <activity android:name="ActivityFavoriteDetails"></activity>
        <activity android:name="ActivityDisplayInfo"></activity>
        <activity android:name="ActivityPlanner"></activity>
        <activity android:name="ActivityPlannerSchedule"></activity>
 
    </application>
</manifest>